Ejemplo.json
[{"id":"bdad74d.6074d88","type":"tab","label":"Integracion_IoT","disabled":false,"info":""},{"id":"4485678f.ef7648","type":"modbus-read","z":"bdad74d.6074d88","name":"FC 3 [150] 2","topic":"2","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"150","dataType":"HoldingRegister","adr":"3059","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"78e69530.190d7c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":380,"wires":[[],["8e285273.729fd","8e13177e.f4e3a8"]]},{"id":"31714ffb.821f","type":"modbus-read","z":"bdad74d.6074d88","name":"FC 3 [150] 4","topic":"1","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"150","dataType":"HoldingRegister","adr":"3203","quantity":"4","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"78e69530.190d7c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":190,"y":180,"wires":[["c25291d8.bf392"],["43cf9740.be7b98"]]},{"id":"8e285273.729fd","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":460,"wires":[]},{"id":"8e13177e.f4e3a8","type":"function","z":"bdad74d.6074d88","name":"Convertir a FLOAT","func":"\n\n// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readFloatBE();\n\n// save the value\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["d841191f.3aeb68","e0bc0052.17e13"]]},{"id":"6dddd459.cdc74c","type":"modbus-read","z":"bdad74d.6074d88","name":"FC 3 [255] 1","topic":"3","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14280","quantity":"1","rate":"70","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"78e69530.190d7c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":640,"wires":[["2b3ff73f.8ecca8"],[]]},{"id":"43cf9740.be7b98","type":"function","z":"bdad74d.6074d88","name":"Calculo Energia","func":"\nvar r4;\nvar r3;\nvar r2;\nvar r1;\nvar E;\n\nr4=msg.payload.data[0];\nr3=msg.payload.data[1];\nr2=msg.payload.data[2];\nr1=msg.payload.data[3];\n\nE=((r4)*Math.pow(2, 48))+((r3)*Math.pow(2,32))+((r2)*Math.pow(2,16))+(r1);\nmsg.payload=E/1000;\n\nreturn msg; \n \n","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["e0bc0052.17e13"]]},{"id":"c25291d8.bf392","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":260,"wires":[]},{"id":"583fedb3.ed17b4","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":720,"wires":[]},{"id":"8848b024.c2ba2","type":"modbus-read","z":"bdad74d.6074d88","name":"FC3 [1] 2","topic":"4","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"20","quantity":"1","rate":"70","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"fbfa4ecf.d4ba1","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":380,"y":900,"wires":[["3beb16d8.41d33a"],[]]},{"id":"98d3ea91.b0ea48","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":980,"wires":[]},{"id":"3d4e865c.6e5a7a","type":"modbus-read","z":"bdad74d.6074d88","name":"FC3 [1] 2","topic":"5","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"2","quantity":"2","rate":"70","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"fbfa4ecf.d4ba1","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":380,"y":1080,"wires":[["6c23b276.3baccc"],[]]},{"id":"6d1b6791.9f97c8","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":1140,"wires":[]},{"id":"3beb16d8.41d33a","type":"function","z":"bdad74d.6074d88","name":"","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":860,"wires":[["98d3ea91.b0ea48","e0bc0052.17e13"]]},{"id":"6c23b276.3baccc","type":"function","z":"bdad74d.6074d88","name":"","func":"msg.payload = (msg.payload[1] << 16) + msg.payload[0]\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":1080,"wires":[["6d1b6791.9f97c8","e0bc0052.17e13"]]},{"id":"d841191f.3aeb68","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":460,"wires":[]},{"id":"2b3ff73f.8ecca8","type":"function","z":"bdad74d.6074d88","name":"","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["583fedb3.ed17b4","e0bc0052.17e13"]]},{"id":"3408bf1a.cbcaf","type":"function","z":"bdad74d.6074d88","name":"Format Tango I/W/DW/F","func":"//*****************************CONFIGURACIÓN*************************************\nvar tipoVar = \"WORD\"; //INT,WORD, DWORD o FLOAT, TODO: Añadir bool\nvar body_vr = msg.payload; //Array de datos de entrada\nvar body_id = \"DLLEdgeBox\";\nvar body_st = \"0\"; //Primera Word a leer\nvar body_n  = \"5\"; // Número de Words a Leer. Se utiliza si el tipo de variable es WORD.\n\n//*******************************Date format*************************************\nvar now = new Date();\nvar dd = now.getUTCDate();\nvar mm = now.getUTCMonth()+1; //January is 0!\nvar yyyy = now.getUTCFullYear();\nvar hh = now.getUTCHours();\nvar mi = now.getUTCMinutes();\nvar ss = now.getUTCSeconds();\n\nif(dd<10){\n    dd='0'+dd;\n} \nif(mm<10){\n    mm='0'+mm;\n} \nif(hh<10){\n\thh='0'+hh;\n} \nif(mi<10){\n\tmi='0'+mi;\n} \nif(ss<10){\n\tss='0'+ss;\n} \n\nvar now_formated = dd+'/'+mm+'/'+yyyy+' '+hh+':'+mi+':'+ss;\n\n//********************************************************************************\nswitch(tipoVar)\n{\n    case \"INT\":\n        var aux_body_vr = [];\n       \n        for(var i=0;i<body_vr.length;i+=1){\n            var i16 = new Int16Array([body_vr[i]]);\n            aux_body_vr[i]=i16;\n        }\n        var body='{\"ID\":\"'+body_id+'\",\"TS\":\"'+now_formated+'\",\"ST\":\"'+body_st+'\",\"N\":\"'+body_n+'\",\"V\":['+aux_body_vr+']}';\n        break;\n        \n    case \"WORD\":\n        var body='{\"ID\":\"'+body_id+'\",\"TS\":\"'+now_formated+'\",\"ST\":\"'+body_st+'\",\"N\":\"'+body_n+'\",\"V\":['+body_vr+']}';\n        break;\n    case \"DWORD\":\n        var aux_body_vr = [];\n        for(var i=0;i<body_vr.length;i+=2){\n            var ui16 = new Uint16Array([body_vr[i],body_vr[i+1]]);\n            var ui32 = new Uint32Array(ui16.buffer, ui16.byteOffset, ui16.byteLength / Uint32Array.BYTES_PER_ELEMENT);\n            aux_body_vr[i/2] = ui32;\n         }\n        var body='{\"ID\":\"'+body_id+'\",\"TS\":\"'+now_formated+'\",\"ST\":\"'+body_st+'\",\"VR\":['+aux_body_vr+']}';\n        break;\n    case \"FLOAT\":\n          var aux_body_vr = [];\n        for(var i=0;i<body_vr.length;i+=2){\n            var ui16 = new Uint16Array([body_vr[i],body_vr[i+1]]);\n            var fl32 = new Float32Array(ui16.buffer, ui16.byteOffset, ui16.byteLength / Float32Array.BYTES_PER_ELEMENT);\n            aux_body_vr[i/2] = fl32;\n        }\n        var body='{\"ID\":\"'+body_id+'\",\"TS\":\"'+now_formated+'\",\"ST\":\"'+body_st+'\",\"VR\":['+aux_body_vr+']}';\n        break;\n    default:\n        var body='Define tipo de datos, WORD, DWORD, REAL';\n}\nmsg.payload = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":500,"wires":[["45528493.cefcac"]]},{"id":"45528493.cefcac","type":"function","z":"bdad74d.6074d88","name":"Request Builder","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'SharedAccessSignature sr=cnm-ih-na.azure-devices.net%2Furn%3Adev%3Aops%3A000000-EMA-prod-16629c1fb1444ad1b6b1094e&sig=Hi0yyE5KY5zoxOL0YDlwz3FtERGVFELeIC%2FmIEp33u4%3D&se=1627370862';\nreturn msg;\n","outputs":1,"noerr":0,"x":2309,"y":587,"wires":[["54d0504b.bfd6a"]]},{"id":"54d0504b.bfd6a","type":"http request","z":"bdad74d.6074d88","name":"HTTP Request","method":"POST","ret":"txt","paytoqs":false,"url":"https://cnm-ih-na.azure-devices.net/devices/urn%3Adev%3Aops%3A000000-EMA-prod-16629c1fb1444ad1b6b1094e/messages/events?api-version=2016-11-14","tls":"","proxy":"","authType":"","x":2554,"y":587,"wires":[["e96be1f1.e9101"]],"info":"\n\nhttps://cnm-ih-na.azure-devices.net/devices/urn%3Adev%3Aops%3A000000-EMA-prod-214029881a28a7efc88d1961/messages/events?api-version=2016-11-14"},{"id":"e96be1f1.e9101","type":"debug","z":"bdad74d.6074d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2756,"y":586,"wires":[]},{"id":"e0bc0052.17e13","type":"join","z":"bdad74d.6074d88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":500,"wires":[["3408bf1a.cbcaf","3c1c21c2.9340ee"]]},{"id":"3c1c21c2.9340ee","type":"debug","z":"bdad74d.6074d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1810,"y":360,"wires":[]},{"id":"78e69530.190d7c","type":"modbus-client","z":"","name":"SmartLink","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.10.51","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"fbfa4ecf.d4ba1","type":"modbus-client","z":"","name":"M262_ModbusServer","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.10.62","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]